*.user
*.user.*
*.pro.user
*.pro.user.*
build/
debug/
release/
*.o
*.obj
*.exe
moc_*.cpp
moc_*.h
ui_*.h
qrc_*.cpp
Makefile
Makefile.*
.qmake.stash
.qmake.cache
*.Debug
*.Release
CMakeLists.txt.user
.idea/
.vscode/
connection.ini
connection.local.ini
connection_error.log
app_auth.local.ini
app_auth.ini
tools/
